{% extends 'layout.html' %} {% block body %}
<div class="container text-light">
	<div style="margin: 50px;">
		<h1>IBM-Project-10844-1659238732</h1>
		<hr>
		<h1>Personal Expense Tracker Application</h1>
		<h3>Software Required:</h3>
		<p>Python, Flask , Docker</p>
		<h3>System Required:</h3>
		<p>8GB RAM, Intel Core i3, OS-Windows/Linux/MAC, Laptop or Desktop</p>
		<h3>Introduction</h3>
		<p>
			In simple words, personal finance entails all the financial decisions and activities that a Finance app
			makes your life easier by helping you to manage your finances efficiently. A personal finance app will not
			only help you with budgeting and accounting but also give you helpful insights about money management.
			<br><br>
			Personal finance applications will ask users to add their expenses and based on their expenses wallet
			balance will be updated which will be visible to the user. Also, users can get an analysis of their
			expenditure in graphical forms. They have an option to set a limit for the amount to be used for that
			particular month if the limit is exceeded the user will be notified with an email alert.
		</p>
		<h3>Technical Architecture: </h3>
		<img src="{{ url_for('static',filename='archirecture.png') }}" alt="Architecture">
	</div>
</div>
{% endblock %}